{% macro escapeText(text, dangerouslyDisableAutoEscaping=false) %}
    {% if dangerouslyDisableAutoEscaping -%}
        {{ text | safe }}
    {%- else -%}
        {{ text }}
    {%- endif %}
{% endmacro %}
{% macro escapeTitle(title, url, dangerouslyDisableAutoEscaping=false, showTitleAsUrl=false) %}
    {% if dangerouslyDisableAutoEscaping %}
        {% if showTitleAsUrl %}
            <a href="{{ url }}"
               style="text-decoration:none;
                      color:#ffffff"
               target="_blank">{{ title | safe }}</a>
        {% else %}
            {{ title | safe }}
        {% endif %}
    {% else %}
        {% if showTitleAsUrl %}
            <a href="{{ url }}"
               style="text-decoration:none;
                      color:#ffffff"
               target="_blank">{{ title }}</a>
        {% else %}
            {{ title }}
        {% endif %}
    {% endif %}
{% endmacro %}
{% if loaded %}
    <ul class="cap-list">
        {% for item in items %}
            <li>
                {% if (config.showSourceTitle and item.sourceTitle) or config.showPublishDate %}
                <span class="cap-source light small dimmed">
                    {% if item.sourceTitle and config.showSourceTitle %}
                        {{ item.sourceTitle }}{% if config.showPublishDate %}, {% else %}:{% endif %}
                    {% endif %}
                    {% if config.showPublishDate %}{{ item.publishDate }}:{% endif %}
                </span>
                {% endif %}
                <span class="cap-severity-{{ item.severity }} cap-title bright medium light{{ ' no-wrap' if not config.wrapTitle }}">
                        {{ escapeTitle(item.title, item.url, config.dangerouslyDisableAutoEscaping, config.showTitleAsUrl) }}
                </span>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <div class="small dimmed">{{ "LOADING" | translate | safe }}</div>
{% endif %}