/*
 *
 * MMM-CommonAlertingProtocol
 *
 * Ross Younger
 * MIT Licensed.
 *
 */

.weather .weathericon,
.weather .fa-home {
  font-size: 75%;
  line-height: 65px;
  display: inline-block;
  transform: translate(0, -3px);
}

.cap-list {
  list-style: none;
}

.cap-list li {
  text-align: justify;
  margin-bottom: 0.5em;
}

.cap-severity-minor {
    color: yellow;
}

.cap-severity-moderate {
    color: orange;
}

.cap-severity-extreme {
    color: red;
}