/*
 *
 * MMM-CommonAlertingProtocol
 *
 * Ross Younger
 * MIT Licensed.
 *
 */

.weather .weathericon,
.weather .fa-home {
  font-size: 75%;
  line-height: 65px;
  display: inline-block;
  transform: translate(0, -3px);
}

.cap-list {
  list-style: none;
}

.cap-list li {
  text-align: justify;
  margin-bottom: 0.5em;
}

.cap-severity-Minor {
    color: #ffeb18 !important;
}

.cap-severity-Moderate {
    color: #ff8918 !important;
}

.cap-severity-Severe {
    color: #ff181e !important;
}

.cap-severity-Extreme {
    color: #ff181e !important;
}
